{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Loisirs{% endblock %}

{% block body %}
{{ include('header.html.twig')}}

<section class="hobbies">
    <h2 class="hobbies__title">Mes loisirs</h2>
    <div class="hobbies__section">
        <div class="hobbies__content">
            <h3>Loisirs sportifs</h3>
            <div class="hobbies__content__body">
                <div class="chart-container">
                    <canvas class="sports-chart"></canvas>
                </div>
                <div class="details">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="hobbies__content">
            <h3>Voyages</h3>
            <div class="hobbies__content__body">
                <div class="chart-container">
                    <canvas class="travel-chart"></canvas>
                </div>
                <div class="details-travel">
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="hobbies__content">
            <h3>Langues</h3>
            <div class="hobbies__content__body">
                <div class="chart-container">
                    <canvas class="language-chart"></canvas>
                </div>
                <div class="details-language">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hobbies__desc">
        <h2>Parlons sport...</h2>
        <h5>Je vais vous parler plus en détail de mon top 3 des sports que je préfère le plus.</h5>
        <div class="hobbies__desc__foot">
            <p>
            Je suis un fan de football depuis très longtemps, plus précisément depuis mes 10 ans.<br>
            Mon intérêt pour ce sport a commencé lorsque j'ai assisté à mon premier match à la<br>
            télévision avec mon père.
            Depuis ce jour, j'ai toujours supporté le Paris-Saint-Germain<br>
            (malheureusement...). <br><br>
            Au fil des années, mon intérêt pour le football s'est étendu bien<br>
            au-delà de mon équipe favorite. Je suis devenu un véritable connaisseur des différents<br>
            championnats européens et internationaux. Parmi ceux-ci, je suis particulièrement<br>
            passionné par la Ligue 1, où j'aime suivre les performances des équipes françaises et<br>
            découvrir de nouveaux talents. <br>
            En dehors de la Ligue 1, la Liga espagnole retient également mon attention avec ses<br>
            équipes emblématiques comme le FC Barcelone et le Real Madrid. La Premier League,<br>
            quant à elle, est fascinante par son intensité et son spectacle.<br>
            La Serie A et la Bundesliga allemande sont aussi des compétitions que je suis de près,<br>
            appréciant leur style de jeu unique et leurs ambiances de stade vibrantes.<br>

            Mon amour pour le football ne s'arrête pas aux grandes ligues européennes.<br>
            Je m'intéresse également à des championnats moins médiatisés comme l'A-League<br>
            en Australie et la Singapore Premier League.<br>
            Je suis aussi les divisions inférieures de ces championnats.<br><br>

            En somme, le football est pour moi une véritable passion qui me permet de vivre des<br>
            émotions fortes que ce soit de mon côté ou avec mes amis !</p>
            <img src="{{ asset('images/football.jpg') }}" alt="Football">
        </div>
        <div class="hobbies__desc__tennis">
            <img src="{{ asset('images/tennis.jpg') }}" alt="Tennis">
            <p>
            Concernant le tennis, c'est bien plus récent.<br>
            Mon intérêt pour ce sport a commencé lors de Roland Garros 2023. J'ai décidé de regarder<br>
            mon premier tournoi de tennis et j'ai fortement accroché, notamment grâce à <b>Thiago Seyboth<br>
            Wild (TSW)</b> qui a sorti la tête de série numéro 2 <b>Daniil Medvedev</b> au terme d'un match XXL.<br>
            L'ambiance et la qualité du match m'auront donné envie de continuer à m'intéresser à ce<br>
            sport. Depuis ce jour, j'ai toujours supporté <b>TSW</b>.<br><br>
            J'ai alors regardé tous les grands tournois depuis ce jour, ne ratant pas un seul match.<br>
            Je me suis même mis à faire du tennis en club.<br><br>
            Bien que le brésilien <b>TSW</b> soit mon numéro 1 incontesté, je supporte aussi les français,</br>
            <b>Alexander Bublik</b> et <b>Christopher Eubanks</b>. Je supporte un tennisman selon son style de<br>
            jeu et en général c'est soit j'accroche, soit je n'accroche pas (selon son physique, ses manières).<br><br>
            Ce que j'aime dans le tennis, c'est les émotions que nous procure ce sport. Un match n'est jamais<br>
            terminé. Il y a des rebondissements que personne ne peut imaginer, il y a également des moments de<br>
            tension, de joie qui font vivre ce sport.
            </p>
        </div>
        <div class="hobbies__desc__formulaone">
            <p>
            Depuis que j'ai 7 ans, la Formule 1 est une véritable passion, un amour profond cultivé<br>
            grâce à mon père. Tout a commencé un dimanche après-midi, lorsque j'ai regardé un grand prix<br>
            avec mon père. Il me parlait de <b>Lewis Hamilton</b> et me disait que ça sera un grand<br>
            champion. Depuis ce jour, je l'ai supporté, c'était en 2008.<br><br>
            Etant petit, j'adorais jouer aux voitures et c'est vrai que les regarder à la télévision<br>
            ça ne pouvait que me plaire !<br>
            J'ai eu une longue pause de Formule 1, je ne saurais expliquer pourquoi, lorsque j'étais<br>
            lycéen. Une pause qui aura duré près de 4/5 ans, je trouvais que la Formule 1 devenait<br>
            ennuyant à chaque grand prix.<br>
            Mais cela, c'était juste avant un évènement national ! En effet, en septembre 2020 j'ai<br>
            assisté à la première victoire en Formule 1 de Pierre Gasly. J'ai eu l'impression de vibrer et<br>
            de retourner dans mon enfance, avec des émotions inoubliables. Je me suis tout simplement remis<br>
            dedans depuis ce moment là. <br>
            </p>
            <img src="{{ asset('images/formulaone.png') }}" alt="Formule 1">
        </div>
    </div>

</section>

{{ include('footer.html.twig') }}
{% endblock %}
