<footer class="footer" id="footer">
  <div class="footer__contact">
      <div>
        <h3><i class="fa-brands fa-linkedin"></i> Linkedin</h3>
        <a href="https://www.linkedin.com/in/olivier-facelina-633a33205/">Mon linkedin</a>
      </div>
      <div>
        <p>|</p>
      </div>
      <div>
        <h3><i class="fa-brands fa-github"></i> Github</h3>
        <a href="https://github.com/OlivierFacelina">Mon github</a>
      </div>
      <div>
        <p>|</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-phone"></i>Téléphone</h3>
        <p>06.43.00.96.72
      </div>
      <div>
        <p>|</p>
      </div>
      <div>
        <h3><i class="fa-solid fa-message"></i>E-mail</h3>
        <p>olivier.facelina@gmail.com</p>
      </div>
  </div>

  <div class="footer__content">
    <div>
      <img src="{{asset('images/portfolio.png')}}" alt="Portfolio">
    </div>
    <div>
      <h3>Navigation</h3>
        <div class="footer__content__nav">
          <a href="{{path('home_index')}}">Accueil</a>
          <a href="{{path('career_index')}}">Parcours</a>
          <a href="{{path('skill_index')}}">Compétences</a>
          <a href="{{path('project_index')}}">Projets</a>
          <a href="{{path('hobby_index')}}">Loisirs</a>
        </div>
    </div>
    <div>
      <h3>Mentions légales</h3>
      <div class="footer__content__legal">
        <p>Ce site est édité par Olivier FACELINA.</p>
        <p>Statut : étudiant</p>
        <p>Téléphone : 06.43.00.96.72</p>
        <p>Email : olivier.facelina@gmail.com</p>
        <p>Hébergeur : [Nom de l'hébergeur]</p>
        <p>Adresse de l'hébergeur : [Adresse de l'hébergeur]</p>
      </div>
    </div>
    <div>
      <h3>Capture projet</h3>
    </div>
  </div>
  <h4>Olivier FACELINA © 2024 ~ Tous droits réservés.</h4>

</footer>