<footer class="footer">
  <div class="footer__contact">
      <div>
        <h3>Linkedin</h3>
        <a href="">Olivier FACELINA</a>
      </div>
      <div>
        <p>|</p>
      </div>
      <div>
        <h3>Téléphone</h3>
        <p>06.43.00.96.72
      </div>
      <div>
        <p>|</p>
      </div>
      <div>
        <h3>E-mail</h3>
        <p>olivier.facelina@gmail.com</p>
      </div>
  </div>

  <div class="footer__content">
    <div>
      <img src="{{asset('images/portfolio.png')}}" alt="Portfolio">
    </div>
    <div>
      <h3>Navigation</h3>
        <div class="footer__content__nav">
          <a href="#">Accueil</a>
          <a href="{{path('career_index')}}">Parcours</a>
          <a href="{{path('skill_index')}}">Compétences</a>
          <a href="{{path('project_index')}}">Projets</a>
          <a href="{{path('hobby_index')}}">Loisirs</a>
          <a href="{{path('contact_index')}}">Contact</a>
        </div>
    </div>
    <div>
      <h3>RGPD</h3>
    </div>
    <div>
      <h3>Capture projet</h3>
    </div>
  </div>
  <h4>Copyright © 2024 ~ Tous droits réservés.</h4>

</footer>