<header>
<nav class="nav">
  <div class="nav__title">
    <a href="#">Portfolio</a>
  </div>
  <div class="nav__link">
    <a href="{{path('home_index')}}">Accueil</a>
    <a href="{{path('career_index')}}">Parcours</a>
    <a href="{{path('skill_index')}}">Compétences</a>
    <a href="{{path('project_index')}}">Projets</a>
    <a href="{{path('hobby_index')}}">Loisirs</a>
    <a href="{{path('contact_index')}}">Contact</a>
  </div>
 {# <a href="{{path('app_home')}}">Accueil</a> #}
</nav>
</header>